
Header always set Content-Security-Policy: upgrade-insecure-requests


Options -Indexes 


RewriteEngine on
# Redirect aassila.com to www.aassila.com
RewriteCond %{HTTP_HOST} ^aassila.com [NC]
RewriteRule ^(.*)$ https://www.aassila.com/$1 [L,R=301]
# Redirect http to https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?aassila.com
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# Remove .html extensions from URLs and add a trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1.html
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]


# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
  <FilesMatch "\.(js|ico|jpg|png|gif|css)$">
  Header set Cache-Control "max-age=31536000, public"
  </FilesMatch>
  <FilesMatch "\.(html|htm)$">
  Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
  </FilesMatch>
</IfModule>
# END Cache-Control Headers
